version: '3.7'
services:
  postgress:
    image: bitnami/postgresql
    ports:
      - 5432:5432
    volumes:
      - ./data:/bitnami/postgresql
    environment:
      POSTGRESQL_USERNAME: admin
      POSTGRESQL_PASSWORD: admin
      POSTGRESQL_DATABASE: todo